<div class='container'>
  <div class='row'>
    <div class="page-header">
      <h1><%= @item.description %></h1>
    </div>
  </div>

  <% if flash.present? %>
    <div class='row'>
      <%= render partial: 'layouts/alerts' %>
    </div>
  <% end %>

  <% @traits.each do |dimension, traits| %>
    <div class='row'>
      <h2><%= dimension %> <small><%= traits.size %></small></h2>
      <ul class="list-group">
        <% traits.each do |trait| %>
          <li class='list-group-item'><%= trait.description %></li>
        <% end %>
      </ul>
    </div>
    <div class='row'>
      <div class='col-md-4'%>
        <%= form_for item_traits_path(@item) do |f| %>
          <%= f.hidden_field dimension %>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control', placeholder: 'Trait description' %>
          </div>
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
